<!DOCTYPE html>
<html>
<head>
	<title>{{ tour.name }}</title>
    <link rel="stylesheet" href="C:/django/turizm/turist/templates/base.css">
</head>
<body> 
	<h1>{{ tour.name }}</h1>
	<p>Направление: {{ tour.destination.name }}</p>
	<p>Дата начала: {{ tour.start_date }}</p>
	<p>Дата окончания: {{ tour.end_date }}</p>
	<p>Транспорт: {{ tour.transportation.transport }}</p>
	<p>Отель: {{ tour.hotel.name }} ({{ tour.hotel.city.name }})</p>
	<p>Достопримечательности:</p>
	<ul>
	{% for place in tour.places.all %}
		<li>{{ place.name }}</li>
	{% endfor %}
	</ul>
	<h2>Отзывы</h2>
	<ul>
	{% for comment in tour.comment_set.all %}
		<li>{{ comment.author }}: {{ comment.text }}</li>
	{% endfor %}
	</ul>
	<h2>Оставить отзыв</h2>
	 

</body>